body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.center-align {
  text-align: center;
}
.primary-margin {
  margin: 10px;
}
.flex-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 20px;
}
.flex-item {
  flex: 0 0 30%;
  margin-left: 4%;
}
.flex-item:first-child {
  margin-left: 0;
}
